# Archivos generados por colcon y otros sistemas de compilación
build/
install/
log/
.vscode/
.idea/
.DS_Store
.cache/
.colcon/
*.pyc
*.swp
*.log

# Archivos de configuración específicos de la Raspberry Pi o de usuario
.bash_history
.bashrc
.profile

./ros_paparazzi/core
./ros_paparazzi_core/ros_paparazzi_core/core
./ros_paparazzi_interfaces/ros_paparazzi_interfaces/core

./data_WGS.txt

./core
